<template>
    v-for문에서 index를 넣으면 / 배열은 각자 인덱스를 가지고 있는데, 그 인덱스를 쓰게 해주는 개념. 특정 값 위치 item은 값, index는 던지는 순서
      <div>
         <MicroNewsCompanyItem
             v-for="(item, index) in newsCompanyList"
             v-bind:company-name="item.name"
             v-bind:link-subscription="item.linkSubscription"
             v-bind:link-view="item.linkViewDoc"
         />
      </div>

   <div>
      <MicroPeopleItem
          v-for="(item, index) in peopleList"
          v-bind:name="item.name"
          v-bind:phone="item.phone"
          v-bind:gender="item.gender"
          v-bind:address="item.address"
      />
   </div>
   <div>
      <MicroArticleItem
          v-for="(item, index) in articleList"
          v-bind:category="item.category"
          v-bind:title="item.title"
          v-bind:content="item.content"
          v-bind:company-name="item.companyName"
          v-bind:dateText="item.dateText"
      />
   </div>
</template>
<!-- v- 접두사가 붙은 특별한 속성 = Directive. 화면의 DOM 조작을 쉽게 할 수 있는 문법들을 제공한다 -->
<!-- v-bind:속성명(props에 있는 걔)=사용할값(data에 있는 걔) -->

<script>
// 데이터는 왜 앱뷰 스크립트에 넣어줘야 할까? 알거같다... 앱뷰 스크립트에 넣어놔야... 아이템뷰는 양식같은 거잖아 틀을 잡아두고 앱뷰에서 데이터를 저장하고 값 입력하는 느낌
// 얘 이름은 왜 앱일까... 그냥 앱인가보다... 가장 최상위 컴포넌트임
// 뷰 컴포넌트 자체가 웹앱이라고 부름 SPA=싱글 페이지 어플리케이션
// 한페이지에서 바뀌는 느낌이 듦. 이게 앱이랑 똑같음. 스파라는 애도 한번 접속하면 다 다운받고 변경된 사항만 교체함. 앱도 스토어에서 다운받고 변경된 거 교체하고. 그래서 얜 웹보다는 웹앱이라... 이게 트렌드임.
export default {
   data() {
      return {
         newsCompanyList: [
            {
               name: '조선일보', //index 0
               linkSubscription: 'https://www.ddd.com',
               linkViewDoc: 'https://www.aaa.com'
            },
            {
               name: '안산신문', //1
               linkSubscription: 'https://www.ddd.com',
               linkViewDoc: 'https://www.bbb.com'
            },
            {
               name: '서울신문', //2
               linkSubscription: 'https://www.ddd.com',
               linkViewDoc: 'https://www.ccc.com'
            },
         ],
         peopleList: [
            {
               name: '김나나',
               phone: '010-0000-0000',
               gender: '여',
               address: '보노동'
            },
            {
               name: '김김김',
               phone: '010-0000-0000',
               gender: '남',
               address: '보노동'
            },
            {
               name: '김다다',
               phone: '010-0000-0000',
               gender: '여',
               address: '보노동'
            },
            {
               name: '가나다',
               phone: '010-0000-0000',
               gender: '여',
               address: '보노동'
            }
         ],
         articleList: [
            {
               category: '자동차',
               title: '한국GM, 올해 \'쉐보레 트랙스 크로스오버\' 등 신차 6종 출시',
               content: '한국GM은 30일 서울 여의도 콘래드 호텔에서 기자간담회를 열고, 올해 신차 출시 계획을 비롯한 한국 시장에서의 사업 전략을 발표했습니다. 신형 트랙스의 모델명은 \'트랙스 크...',
               companyName: '카빌리프',
               dateText: '3일 전'
            },
            {
               category: '자동차',
               title: '주행거리 1000km 中 전기차 \'Zeekr001\' 공개...가격은?',
               content: '중국 자동차 회사 지리(Geely)가 1회 충전에 1032km를 주행하는 전기차를 공개했다. 지난 2021년 처음 공개됐을 당시 700km 주행거리를 자랑했던 Zeekr001 모델이 CATL의...',
               companyName: '더드라이브',
               dateText: '2일 전'
            },
            {
               category: '자동차',
               title: '현대차 신형 코나, 톡톡 튀는 \'이 컬러\' 어때요?...실물 색감 직접 살펴보니',
               content: '[Motoroid / New Car]국내 시장에 새롭게 출시된 현대차 소형 SUV \'디 올 뉴 코나(SX2)\'에 대한 관심이 뜨겁다. 현대차 신형 코나는 지난 2017년 6월 1세대 코나 출시 이후 5년 만...',
               companyName: '모터로이드',
               dateText: '2일 전'
            },
            {
               category: '자동차',
               title: '\"역대급 맞네\" 1억 초반, 미국산 현실 드림카 \'이 차\'의 정체',
               content: '콜벳 최초의 하이브리드 차량이 공개됐다. 쉐보레가 17일(현지시간) 하이브리드 스포츠카 콜벳(Corvette) E-레이를 공개하고 올해 말 10만 4000달러 이상의 가격으로 출시할 것...',
               companyName: '다키포스트',
               dateText: '5일 전'
            },
            {
               category: '자동차',
               title: '[시승기]혁신기술로 세단 취향 저격한 현대 디 올 뉴 그랜저의 대담한 존재감',
               content: '그랜저는 성공하면 타야하는 차로 알았고 살 수 있는 차였다. 소비자가 그렇게 생각했고, 현대자동차가 그렇게 말해왔다. 인정했다. 하지만 고급 수입 자동차 브랜드가 국내 세일즈...',
               companyName: '무브브로',
               dateText: '3일 전'
            }
         ]
      }
   }
}
</script>