<template>
   <div>
      <div class="category"><strong>{{ category }}</strong></div>
      <div><strong>{{ title }}</strong></div>
      <div>{{ content }}</div>
      <div class="small">{{ companyName }} · {{ dateText }}</div>
   </div>
</template>
<!-- 왜 어떤 클래스는 v-bind를 쓰고 어떤 클래스는 그냥 쓰는 걸까... 아까 걘 삼항???이라??? -->

<script>
export default {
   props: {
      category: {
         type: String,
         required: true
      },
      title: {
         type: String,
         required: true
      },
      content: {
         type: String,
         required: true
      },
      companyName: {
         type: String,
         required: true
      },
      dateText: {
         type: String,
         required: true
      }
   }
}
</script>