<template>
   <div>
      <div>{{ companyName }}</div>
      <div>구독 {{ linkSubscription }}</div>
      <div>기사보기 {{ linkView }}</div>
   </div>
</template>
<!-- {{콧수염 문법}} data, computed, props 속성을 연결할 수 있다. 간단한 js 표현식도 화면에 표현할 수 있다 -->

<script>
export default {
   props: {
      companyName: {
         type: String,
         required: true
      },
      linkSubscription: {
         type: String,
         required: true
      },
      linkView: {
         type: String,
         required: true
      }
   }
}
</script>