<template>
<!-- 클래스 바인딩을 사용할 때에는 콜론(:)으로 v-bind 옵션을 class에 붙여준다. -->
<!-- 컴포넌트-데이터 연결뿐만 아니라 오만 걸 다 v-bind로 쓰네... html의 속성인 id, class, style 등에 대해 model의 데이터를 연결할 때 사용된다. -->
   <div :class="gender === '남' ? 'gender-man' : 'gender-woman'">
      {{name}} / {{phone}} / {{gender}} / {{address}}
   </div>
</template>

<script>
export default {
   props: {
      name: {
         type: String,
         required: true
      },
      phone: {
         type: String,
         required: true
      },
      gender: {
         type: String,
         required: true
      },
      address: {
         type: String,
         required: true
      }
   }
}
</script>